fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

openai==1.51.0

httpx==0.27.2

google-api-python-client==2.153.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1

pydantic==2.9.2
pydantic-settings==2.4.0

python-dateutil==2.9.0.post0
python-dotenv==1.0.1

starlette==0.40.0
